.button {
  padding: 0.5rem 1rem;
  color: hsl(var(--background));
  background-color: hsl(var(--primary));

  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  border-radius: calc(var(--radius) - 2px);

  font-size: 0.875rem;
  font-weight: 500;

  white-space: nowrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;

  &:hover {
    background-color: hsl(var(--primary) / 0.9);
  }

  &.iconVariant {
    background-color: hsl(var(--background));
    color: hsl(var(--primary));
    width: 2rem;
    height: 2rem;
    padding: 0;
    &:hover {
      background-color: hsl(var(--muted));
    }

    > svg {
      opacity: 0.7;
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
