.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px hsl(var(--border));
  padding: 0.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
